# Compiled Object files, Static and Dynamic libs (Shared libs)
*.o
*.a
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app
FlightOptimizer
build/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env

# MacOS
.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
